//
// Review Yotpo
//

.yotpo div,
.yotpo span,
.yotpo p,
.yotpo a,
.yotpo img,
.yotpo i,
.yotpo strong,
.yotpo sup,
.yotpo ul,
.yotpo li,
.yotpo form,
.yotpo label {
  font-family: $body-font-family !important;
}

.yotpo-display-wrapper > .yotpo-regular-box {
  display: none;
}

.yotpo .y-label,
.yotpo label.y-label,
.yotpo input[type="text"],
.yotpo .y-input[type="text"] {
  color: $body-font-color !important;
}

.yotpo .primary-color-btn,
.yotpo input[type="button"].primary-color-btn {
  background-color: $primary-color !important;
  &:hover {
    background-color: darken($primary-color, 10%) !important;
  }
}

div.yotpo {
  div {
    color: $body-font-color;
    font-family: $body-font-family;
  }
  .yotpo-nav {
    ul {
      .yotpo-nav-tab.yotpo-active {
        span {
          color: $primary-color;
        }
        .yotpo-nav-wrapper {
          border-color: $primary-color;
        }
      }
    }
  }

  a {
    color: $primary-color;
  }

  .yotpo-small-box {
    padding: 25px 0 0 0 !important;
  }

  .yotpo-regular-box {
    padding: 25px 0 0 0 !important;
    margin-left: 0;
    margin-right: 0;
    border-top: 0px solid transparent;
  }

  .yotpo-review {
    .yotpo-header {
      display: none;
    }
  }

  .yotpo-label {
    display: none !important;
  }

  .yotpo-main {
    margin-left: 0 !important;
  }

  .yotpo-footer {
    margin-left: 0 !important;
    .yotpo-action:hover {
      color: darken($primary-color, 10%);
    }
  }

  .yotpo-icon.yotpo-icon-star,
  .yotpo-icon.yotpo-icon-empty-star {
    font-size: 23px !important;
  }

  &.bottomLine {
    margin-bottom: 8px;

    a.text-m {
      margin-left: 8px;
    }

  }

}
