$nosto-standard-selector: ".list-category ul li";
$nosto-product-wrapper-margin-right: 3; // INT, represents percentage
$nosto-product-wrapper-margin-right-large-up: 3; // INT, represents percentage

$nosto-total-products-xxlarge: $js-total-products-xxlarge;
$nosto-total-products-xlarge: $js-total-products-xlarge;
$nosto-total-products-large: $js-total-products-large;
$nosto-total-products-medium: $js-total-products-medium;
$nosto-total-products-small: $js-total-products-small;

$nosto-vertical-selector: ".nosto_wrapper .nosto_element.jetshop-product-list-vertical";
$nosto-vertical-total-columns-xxlarge: 4;
$nosto-vertical-total-columns-xlarge: 4;
$nosto-vertical-total-columns-large: 4;
$nosto-vertical-total-columns-medium: 2;
$nosto-vertical-total-columns-small: 2;

