<div id="startpage-slider" class="slider">
    {{#each this}}
        <div>
            <a href="{{ link }}">
                {{#if imageMobile}}
                    <img data-interchange="[{{image}}, (default)], [{{imageMobile}}, (small)], [{{image}}, (medium)], [{{image}}, (large)]" {{#if imageAlt}} alt="{{imageAlt}}" title="{{imageAlt}}"{{/if}}>
                {{else}}
                    <img src="{{ image }}">
                {{/if}}
            </a>
            {{#if text}}
            <span class="text">
                <a href="{{ link }}">{{{ text }}}</a>
            </span>
            {{/if}}
        </div>
    {{/each}}
</div>
