//
//  Slick Slider SCSS Settings
//
$slick-font-path: "./fonts/" !default;
$slick-font-family: "fontAwesome" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-arrow-font-size: 32px !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-font-size: 32px !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 16px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

//
//  We are hiding the main-area until slider & startPageObjects are done
//  These elements are shown later using JS (slickSlider.utils.showHiddenElements)
//
.page-default {
  #startpage_list {
    display: none;
  }
  #main-area .content {
    display: none;
  }
  #footer {
    display: none;
  }
  #jetshop-branding {
    display: none;
  }
}

//
// Slider
//
.slick-slider {
  margin-top: 10px;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }

  span.text {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: $js-body-font-size + 4;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

//
//  Slider Theme
//  This is the original source file slick-theme.scss, all defaults not used are commented
//

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  } @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  } @else {
    @return url($slick-font-path + $url);
  }
}

.slick-list {
  .slick-loading & {
    background: #fff slick-image-url("../images/responsive-base/ajax-loader-big.gif") center center no-repeat;
  }
}

//
//  Icons
//
@if $slick-font-family == "slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

//
//  Arrows
//
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  //height: 26px;
  //width: 26px;
  line-height: 26px;
  font-size: $slick-arrow-font-size;
  cursor: pointer;
  text-align: center;
  color: $slick-arrow-color;
  opacity: 0.6;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 10px;
  border: none;
  outline: none;
  &:hover, &:focus {
    outline: none;
    background: transparent;
    color: white;
    opacity: 1;
    //&:before {
    //    opacity: $slick-opacity-on-hover;
    //}
  }
  i {
    font-size: $slick-arrow-font-size;
  }
  //&.slick-disabled:before {
  //    opacity: $slick-opacity-not-active;
  //}
  //&:before {
  //    font-family: $slick-font-family;
  //    font-size: 20px;
  //    line-height: 1;
  //    color: $slick-arrow-color;
  //    opacity: $slick-opacity-default;
  //    -webkit-font-smoothing: antialiased;
  //    -moz-osx-font-smoothing: grayscale;
  //}
}

.slick-prev {
  //left: -25px;
  left: 0;
  z-index: 1;
  [dir="rtl"] & {
    left: auto;
    right: -25px;
  }
  //&:before {
  //    content: $slick-prev-character;
  //    [dir="rtl"] & {
  //        content: $slick-next-character;
  //    }
  //}
}

.slick-next {
  //right: -25px;
  right: 0;
  z-index: 1;
  [dir="rtl"] & {
    left: -25px;
    right: auto;
  }
  //&:before {
  //    content: $slick-next-character;
  //    [dir="rtl"] & {
  //        content: $slick-prev-character;
  //    }
  //}
}

//
//  Dots
//
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\f111";
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
    }
  }
}

//
//  Small & Medium Only
//
@media #{$medium-down} {

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

