<div id='dc-wrapper' class='reveal-modal' data-reveal data-options="close_on_background_click:true">
    <div id="dc-inner">
        <h3 id="dc-header">{{ translate "dcCartHeader" }}</h3>
        <div id="dc-body">
            <div id="dc-items-header" class="clearfix">
                <div class="img">&nbsp;</div>
                <div class="item">{{ translate "dcItem" }}</div>
                <div class="price">{{ translate "dcPrice" }}</div>
                <div class="qty">{{ translate "dcQty" }}</div>
                <div class="delete">&nbsp;</div>
                <div class="total">{{ translate "dcTotal" }}</div>
            </div>
            <div id="dc-content">
                <!-- Cart content goes here, populated from view dynamic-cart-item -->
            </div>
            <div id="dc-loader-msg"><span class="add-prod">{{ translate "dcProdLoadMsg" }}</span></div>
            <div id="dc-totals">
            </div>
        </div>
        <div id="dc-btns">
            <button id="dc-checkout-btn" class="button" href="{{ config "urls.CheckoutUrl" }}"><span>{{ translate "dcCheckoutBtnText" }}</span></button>
            <button id="dc-continue-btn" class="button" href=""><span>{{ translate "dcContinueBtnText" }}</span></button>
        </div>
    </div>
</div>
